<header class="fixed w-full top-0 z-10 bg-transparent transition duration-300 ease-in-out pointer-events-none">
    <div class="container mx-auto px-4 py-6 flex justify-between items-center pointer-events-auto">
      <div class="flex items-center">
        <span class="text-lg font-semibold ml-2">Israel Fernando</span>
      </div>
      <nav class="hidden md:flex space-x-4">
        <ul class="flex space-x-4">
          <li><a href="#" class="text-gray-600 hover:text-gray-800">Sobre</a></li>
          <li><a href="#" class="text-gray-600 hover:text-gray-800">Projetos</a></li>
        </ul>
      </nav>
      <div class="md:hidden">
        <button id="menu-button" class="text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
    <nav id="mobile-menu" class="md:hidden hidden bg-white">
      <ul class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <li><a href="#" class="text-gray-600 hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">Sobre</a></li>
        <li><a href="#" class="text-gray-600 hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">Projetos</a></li>
      </ul>
    </nav>
  </header>