<body class="header">
    <nav class="side-menu" [ngClass]="{'collapsed': isCollapsed}" (mouseenter)="expandMenu()" (mouseleave)="collapseMenu()">
        <ul class="nav flex-column" [ngClass]="{'menu-expanded': !isCollapsed}">

            <li class="nav-item gold-link" [ngClass]="{ 'gold-link': lastLocalScroll=='home' }">
                <button class="nav-link" (click)="goHome()">
                    <i class="fa-solid fa-house"></i>
                    <p *ngIf="!isCollapsed">Início</p>
                </button>
            </li>
            <li class="nav-item" [ngClass]="{ 'gold-link': lastLocalScroll=='about' }">
                <button class="nav-link" (click)="goAbout()">
                    <i class="fa-solid fa-book"></i>
                    <p *ngIf="!isCollapsed">Sobre</p>
                </button>
            </li>
            <li class="nav-item" [ngClass]="{ 'gold-link': lastLocalScroll=='project' }">
                <button class="nav-link" (click)="goProject()">
                    <i class="fa-solid fa-folder"></i>
                    <p *ngIf="!isCollapsed">Projetos</p>
                </button>
            </li>
            <li class="nav-item" [ngClass]="{ 'gold-link': lastLocalScroll=='contact' }">
                <button class="nav-link" (click)="goContact()">
                    <i class="fa-solid fa-user"></i>
                    <p *ngIf="!isCollapsed">Contato</p>
                </button>
            </li>





            <div class="w-3/4 h-px mx-auto my-2 bg-gray-500"></div>

            <li *ngIf="isCollapsed && !isToggled" class="mb-4 nav-item">
                <span class="nav-link">
                    <i class="w-4 h-4 fas fa-sun"></i>
                </span>
            </li>
            <li *ngIf="isCollapsed && isToggled" class="mb-4 nav-item">
                <span class="nav-link">
                    <i class="w-4 h-4 fas fa-moon"></i>
                </span>
            </li>
            <li *ngIf="!isCollapsed" [ngClass]="{'bg-gray-300': !isToggled, 'bg-gray-200': isToggled}" class="relative w-16 h-8 mt-4 ml-8 overflow-hidden rounded-full">
                <div (click)="toggleTheme()"
                    [style.transform]="'translateX(' + (isToggled ? '100%' : '0') + ')'"
                    class="absolute flex items-center justify-center h-6 transition-transform duration-300 ease-in-out bg-white rounded-full shadow-md cursor-pointer top-1 left-1 w-7"
                    (click)="toggleSlide()">
                    <span *ngIf="!isToggled" class="text-gray-700">
                        <i class="w-4 h-4 fas fa-sun"></i>
                    </span>
                    <span *ngIf="isToggled" class="text-gray-700">
                        <i class="w-4 h-4 fas fa-moon"></i>
                    </span>
                </div>
            </li>
        </ul>
    </nav>
</body>
<router-outlet></router-outlet>
