
.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



body.light .header-container a {
  color: white;
}
body.light .header-container a:hover {
  color: gray;
}
body.dark .header-container a {
  color: white;
}
body.dark .header-container a:hover {
  color: gray;
}




















.side-menu {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 130px;
  height: 300px;
  background-color: rgb(36, 48, 63);
  padding-top: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  transition: width 0.6s ease, height 0.6s ease, top 0.6s ease, transform 0.6s ease;
  z-index: 100;
}

.side-menu.collapsed {
  width: 60px;
  height: 190px;
}

.side-menu.collapsed i {
  margin-left: 5px;
  margin-top: 10px;
}

.nav-link {
  padding: 10px 5px;
  color: #fff;
  pointer-events: none; /* Desabilita o evento de mouse nos links quando o menu está colapsado */
}

.nav-link i {
  margin-right: 5px;
}

.menu-expanded .nav-link {
  pointer-events: auto; /* Habilita o evento de mouse nos links quando o menu está expandido */
}

.nav-link:hover {
  color: rgb(60, 80, 224);
}

.nav:hover .image-container {
  margin-left: 30px;
}

.side-menu.collapsed .nav-link p {
  display: none;
}

img {
  width: 28px;
  height: 28px;
}

.side-menu.collapsed .nav-link {
  height: 14px;
}

a:hover {
  cursor: pointer;
}

.side-menu.collapsed .gold-link button {
  color: rgb(60, 80, 224);
  position: relative;
}

.gold-link button::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgb(60, 80, 224);
  border-radius: 50%;
  position: absolute;
  margin-top: 20px;
  transform: translateY(-50%);
  left: 25px;
  transition: left 1s ease;
}

.side-menu.collapsed .gold-link button::before {
  left: 14px;
  top: 25px;
  background-color: transparent;
}




