<!-- Modal de Adicionar Coordenação -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60">
    <div class="relative w-full max-w-xl p-8 bg-white shadow-2xl rounded-2xl">
        <h2 class="mb-6 text-3xl font-bold text-gray-800">Adicionar Coordenação</h2>
          
        <!-- Cargos -->
        <div class="mt-6">
            <div>
                <label class="block mb-1 font-medium text-gray-700 ">Nome</label>
                <input [(ngModel)]="nome" type="text" class="w-full p-3 bg-gray-200 rounded-lg focus:outline-none">
            </div>
            <div>
                <label class="block mb-1 font-medium text-gray-700 ">Escola</label>
                <input [(ngModel)]="escola" type="text" class="w-full p-3 bg-gray-200 rounded-lg focus:outline-none">
            </div>
            <div>
                <label class="block mb-1 font-medium text-gray-700 ">Email</label>
                <input [(ngModel)]="email" type="text" class="w-full p-3 bg-gray-200 rounded-lg focus:outline-none">
            </div>
            <label class="block mb-2 font-medium text-gray-700">Cargo</label>
            <div class="flex flex-wrap gap-2">
                <button
                    (click)="alternarCargo('diretor')"
                    [ngClass]="cargosSelecionados === 'diretor' ? 'bg-blue-600 text-white' : 'bg-blue-100 text-blue-800'"
                    class="px-4 py-2 transition rounded-lg">
                    Diretor
                </button>
                <button
                    (click)="alternarCargo('coordenador')"
                    [ngClass]="cargosSelecionados === 'coordenador' ? 'bg-green-600 text-white' : 'bg-green-100 text-green-800'"
                    class="px-4 py-2 transition rounded-lg">
                    Coordenador
                </button>
                <button
                    (click)="alternarCargo('pedagogo')"
                    [ngClass]="cargosSelecionados === 'pedagogo' ? 'bg-purple-600 text-white' : 'bg-purple-100 text-purple-800'"
                    class="px-4 py-2 transition rounded-lg">
                    Pedagogo
                </button>
            </div>
        </div>

        <div class="grid gap-6">
            <!-- Botões -->
            <div class="flex justify-end mt-4 space-x-4">
                <button class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-700">Limpar</button>
                <button (click)="cadastrarCoordenacao()" class="px-6 py-2 text-white bg-green-600 rounded hover:bg-green-800">Cadastrar</button>
            </div>
        </div>

        <!-- Botão de fechar (X) -->
        <button class="absolute text-gray-500 top-4 right-4 hover:text-red-500" (click)="fecharModalAdicionar()">
            <i class="text-xl fa-solid fa-times"></i>
        </button>
    </div>
</div>