<div>
    <h2 id="title" class="mb-10 text-5xl font-extrabold text-center text-white">Desafios</h2>


    <!-- Barra de pesquisa + botão -->
    <div class="flex items-center justify-center mb-12 ml-96">
        <input [(ngModel)]="filtro" type="text" placeholder="Pesquise por matéria"
        class="w-full max-w-lg p-4 text-xl text-gray-900 transition-all transform bg-gray-100 rounded-lg shadow-lg mr-96 focus:outline-none dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 focus:ring-4 focus:ring-teal-400" />
    </div>


    <div class="mb-40 ml-20 mr-20">

        <div class="relative p-8 mt-16 overflow-hidden transition-all bg-blue-600 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">O Espartano</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-10">
                <div class="flex items-center justify-center w-32 bg-white rounded-full shadow-lg h-14">
                    <p class="text-3xl font-bold text-teal-500">50/300</p>
                </div>
                <div class="pr-32 ml-10"> <!-- pr-32 para dar espaço à imagem -->
                    <h2 class="text-2xl font-extrabold text-white">
                        Realize 300 Batalhas (Procurando Adversário ou desafiar Amigos).
                    </h2>
                </div>
            </div>

            <!-- Imagem à direita -->
            <img
                src="../../assets/medalhas/OEspartano.png"
                alt="Ícone Espartano"
                class="absolute object-contain w-40 h-auto pointer-events-none select-none right-20 bottom-6" />
        </div>












        <div class="relative p-8 mt-16 overflow-hidden transition-all bg-blue-600 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">O Espartano</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-10">
                <div class="flex items-center justify-center w-32 bg-white rounded-full shadow-lg h-14">
                    <p class="text-3xl font-bold text-teal-500">50/300</p>
                </div>
                <div class="pr-32 ml-10"> <!-- pr-32 para dar espaço à imagem -->
                    <h2 class="text-2xl font-extrabold text-white">
                        Realize 300 Batalhas (Procurando Adversário ou desafiar Amigos).
                    </h2>
                </div>
            </div>

            <!-- Imagem à direita -->
            <img
                src="../../assets/medalhas/OEspartano.png"
                alt="Ícone Espartano"
                class="absolute object-contain w-40 h-auto pointer-events-none select-none right-20 bottom-6" />
        </div>







        <div class="relative p-8 mt-16 overflow-hidden transition-all bg-blue-600 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">O Espartano</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-10">
                <div class="flex items-center justify-center w-32 bg-white rounded-full shadow-lg h-14">
                    <p class="text-3xl font-bold text-teal-500">50/300</p>
                </div>
                <div class="pr-32 ml-10"> <!-- pr-32 para dar espaço à imagem -->
                    <h2 class="text-2xl font-extrabold text-white">
                        Realize 300 Batalhas (Procurando Adversário ou desafiar Amigos).
                    </h2>
                </div>
            </div>

            <!-- Imagem à direita -->
            <img
                src="../../assets/medalhas/OEspartano.png"
                alt="Ícone Espartano"
                class="absolute object-contain w-40 h-auto pointer-events-none select-none right-20 bottom-6" />
        </div>





        <div class="relative p-8 mt-16 overflow-hidden transition-all bg-blue-600 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">O Espartano</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-10">
                <div class="flex items-center justify-center w-32 bg-white rounded-full shadow-lg h-14">
                    <p class="text-3xl font-bold text-teal-500">50/300</p>
                </div>
                <div class="pr-32 ml-10"> <!-- pr-32 para dar espaço à imagem -->
                    <h2 class="text-2xl font-extrabold text-white">
                        Realize 300 Batalhas (Procurando Adversário ou desafiar Amigos).
                    </h2>
                </div>
            </div>

            <!-- Imagem à direita -->
            <img
                src="../../assets/medalhas/OEspartano.png"
                alt="Ícone Espartano"
                class="absolute object-contain w-40 h-auto pointer-events-none select-none right-20 bottom-6" />
        </div>






        <div class="relative p-8 mt-16 overflow-hidden transition-all bg-blue-600 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">O Espartano</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-10">
                <div class="flex items-center justify-center w-32 bg-white rounded-full shadow-lg h-14">
                    <p class="text-3xl font-bold text-teal-500">50/300</p>
                </div>
                <div class="pr-32 ml-10"> <!-- pr-32 para dar espaço à imagem -->
                    <h2 class="text-2xl font-extrabold text-white">
                        Realize 300 Batalhas (Procurando Adversário ou desafiar Amigos).
                    </h2>
                </div>
            </div>

            <!-- Imagem à direita -->
            <img
                src="../../assets/medalhas/OEspartano.png"
                alt="Ícone Espartano"
                class="absolute object-contain w-40 h-auto pointer-events-none select-none right-20 bottom-6" />
        </div>
    </div>

</div>


