<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Prefeitura</title>
    <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
    <script>
        function toggleTheme() {
            const html = document.documentElement;
            html.dataset.theme = html.dataset.theme === 'light' ? 'dark' : 'light';
        }
    </script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100 dark:bg-gray-900">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
        <h2 class="text-2xl font-semibold text-center text-gray-700 dark:text-gray-200">Gestão Escolar</h2>
        <form class="mt-4">
            <div class="mb-4">
                <label for="email" class="block text-sm text-gray-600 dark:text-gray-300">Usuário</label>
                <div class="flex items-center px-3 bg-gray-100 border rounded-lg dark:bg-gray-700">
                    <i class="text-gray-500 fas fa-user dark:text-gray-300"></i>
                    <input
                        type="text"
                        id="email"
                        [(ngModel)]="usuarioLogin.email"
                        (ngModelChange)="onInputChange('usuarioLogin.email', $event)"
                        name="usuarioLogin.email"
                        placeholder="Digite seu usuário"
                        class="w-full px-2 py-2 bg-transparent focus:outline-none"
                    />
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm text-gray-600 dark:text-gray-300">Senha</label>
                <div class="flex items-center px-3 bg-gray-100 border rounded-lg dark:bg-gray-700">
                    <i class="text-gray-500 fas fa-lock dark:text-gray-300"></i>
                    <input
                    [(ngModel)]="usuarioLogin.senha"
                    (ngModelChange)="onInputChange('usuarioLogin.senha', $event)"
                    name="usuarioLogin.senha"
                    type="password"
                    id="password"
                    placeholder="Digite sua senha"
                    class="w-full px-2 py-2 bg-transparent focus:outline-none"
                  />
                </div>
            </div>
            <button type="submit" class="w-full py-2 mt-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700" (click)="Login()">Entrar</button>
            <button type="submit" class="w-full py-2 mt-2 text-white bg-blue-900 rounded-lg hover:bg-blue-700" (click)="navigateTo('/signup')">Cadastrar</button>
        </form>
    </div>
</body>