<div>
    <h2 id="title" class="mb-10 text-5xl font-extrabold text-center text-white">Atividades</h2>


    <!-- Barra de pesquisa + botão -->
    <div class="flex items-center justify-center mb-12 ml-96">
        <input [(ngModel)]="filtro" type="text" placeholder="Pesquise por matéria"
        class="w-full max-w-lg p-4 text-xl text-gray-900 transition-all transform bg-gray-100 rounded-lg shadow-lg mr-96 focus:outline-none dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 focus:ring-4 focus:ring-teal-400" />
    </div>




    <div class="mb-40 ml-20 mr-20">

        <div class="relative p-8 mt-16 transition-all bg-blue-600 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">Matematica</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">1º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">Joana saiu de casa com R$ 120,00. Ela foi até uma papelaria e comprou: 3 cadernos por R$ 18,00 cada, 2 lápis por R$ 2,50 cada, e uma mochila que custou R$ 45,00. Quanto sobrou de dinheiro para Joana após as compras?
                    </h2>

                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">A) R$ 15,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">B) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">C) R$ 10,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">D) R$ 25,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">E) R$ 12,00 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">2º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Lucas comeu 2/5 de uma barra de chocolate. Em seguida, seu irmão comeu mais 1/5. Qual fração da barra ainda resta?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">A) 1/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">B) 2/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">C) 3/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">D) 4/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">E) 5/5 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">3º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Uma loja está oferecendo 20% de desconto em um tênis que custa R$ 150,00. Qual será o valor do tênis com o desconto aplicado?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">A) R$ 130,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">B) R$ 120,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">C) R$ 135,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">D) R$ 140,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">E) R$ 125,00 </button>
            </div>
            <div class="border-b border-white/30"></div>




            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">4º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Resolva a expressão: 4×(3+2)−6÷2
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">A) 14 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">B) 16</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">C) 18 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">D) 20 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">E) 12 </button>
            </div>
            <div class="border-b border-white/30"></div>




            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">5º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Se 5 lápis custam R$ 12,00, quanto custariam 8 lápis, no mesmo valor unitário?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">A) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">B) R$ 19,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">C) R$ 20,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">D) R$ 21,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-blue-500 shadow-2xl hover:bg-blue-800 rounded-2xl text-white/90">E) R$ 22,00 </button>
            </div>


            <div class="flex justify-end mt-20 mr-6">
                <button
                  class="relative px-6 py-4 text-xl text-center text-white transition-all rounded-lg w-36 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110"
                  (click)="exibirModalCreateCoordination(true)">
                  Confirmar
                </button>
            </div>
        </div>










        <div class="relative p-8 mt-16 transition-all bg-gray-600 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">Portugues</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">1º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">Joana saiu de casa com R$ 120,00. Ela foi até uma papelaria e comprou: 3 cadernos por R$ 18,00 cada, 2 lápis por R$ 2,50 cada, e uma mochila que custou R$ 45,00. Quanto sobrou de dinheiro para Joana após as compras?
                    </h2>

                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">A) R$ 15,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">B) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">C) R$ 10,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">D) R$ 25,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">E) R$ 12,00 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">2º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Lucas comeu 2/5 de uma barra de chocolate. Em seguida, seu irmão comeu mais 1/5. Qual fração da barra ainda resta?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">A) 1/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">B) 2/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">C) 3/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">D) 4/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">E) 5/5 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">3º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Uma loja está oferecendo 20% de desconto em um tênis que custa R$ 150,00. Qual será o valor do tênis com o desconto aplicado?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">A) R$ 130,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">B) R$ 120,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">C) R$ 135,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">D) R$ 140,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">E) R$ 125,00 </button>
            </div>
            <div class="border-b border-white/30"></div>

            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">4º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Resolva a expressão: 4×(3+2)−6÷2
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">A) 14 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">B) 16</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">C) 18 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">D) 20 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">E) 12 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">5º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Se 5 lápis custam R$ 12,00, quanto custariam 8 lápis, no mesmo valor unitário?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">A) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">B) R$ 19,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">C) R$ 20,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">D) R$ 21,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-gray-500 shadow-2xl hover:bg-gray-800 rounded-2xl text-white/90">E) R$ 22,00 </button>
            </div>


            <div class="flex justify-end mt-20 mr-6">
                <button
                  class="relative px-6 py-4 text-xl text-center text-white transition-all rounded-lg w-36 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110"
                  (click)="exibirModalCreateCoordination(true)">
                  Confirmar
                </button>
            </div>
        </div>







        <div class="relative p-8 mt-16 transition-all bg-green-600 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">Geografia</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">1º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">Joana saiu de casa com R$ 120,00. Ela foi até uma papelaria e comprou: 3 cadernos por R$ 18,00 cada, 2 lápis por R$ 2,50 cada, e uma mochila que custou R$ 45,00. Quanto sobrou de dinheiro para Joana após as compras?
                    </h2>

                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">A) R$ 15,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">B) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">C) R$ 10,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">D) R$ 25,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">E) R$ 12,00 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">2º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Lucas comeu 2/5 de uma barra de chocolate. Em seguida, seu irmão comeu mais 1/5. Qual fração da barra ainda resta?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">A) 1/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">B) 2/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">C) 3/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">D) 4/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">E) 5/5 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">3º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Uma loja está oferecendo 20% de desconto em um tênis que custa R$ 150,00. Qual será o valor do tênis com o desconto aplicado?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">A) R$ 130,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">B) R$ 120,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">C) R$ 135,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">D) R$ 140,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">E) R$ 125,00 </button>
            </div>
            <div class="border-b border-white/30"></div>

            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">4º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Resolva a expressão: 4×(3+2)−6÷2
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">A) 14 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">B) 16</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">C) 18 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">D) 20 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">E) 12 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">5º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Se 5 lápis custam R$ 12,00, quanto custariam 8 lápis, no mesmo valor unitário?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">A) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">B) R$ 19,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">C) R$ 20,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">D) R$ 21,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-green-500 shadow-2xl hover:bg-green-800 rounded-2xl text-white/90">E) R$ 22,00 </button>
            </div>


            <div class="flex justify-end mt-20 mr-6">
                <button
                  class="relative px-6 py-4 text-xl text-center text-white transition-all rounded-lg w-36 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110"
                  (click)="exibirModalCreateCoordination(true)">
                  Confirmar
                </button>
            </div>
        </div>





        <div class="relative p-8 mt-16 transition-all bg-yellow-700 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">Historia</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">1º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">Joana saiu de casa com R$ 120,00. Ela foi até uma papelaria e comprou: 3 cadernos por R$ 18,00 cada, 2 lápis por R$ 2,50 cada, e uma mochila que custou R$ 45,00. Quanto sobrou de dinheiro para Joana após as compras?
                    </h2>

                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) R$ 15,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) R$ 10,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) R$ 25,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) R$ 12,00 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">2º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Lucas comeu 2/5 de uma barra de chocolate. Em seguida, seu irmão comeu mais 1/5. Qual fração da barra ainda resta?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) 1/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) 2/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) 3/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) 4/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) 5/5 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">3º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Uma loja está oferecendo 20% de desconto em um tênis que custa R$ 150,00. Qual será o valor do tênis com o desconto aplicado?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) R$ 130,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) R$ 120,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) R$ 135,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) R$ 140,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) R$ 125,00 </button>
            </div>
            <div class="border-b border-white/30"></div>

            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">4º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Resolva a expressão: 4×(3+2)−6÷2
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) 14 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) 16</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) 18 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) 20 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) 12 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">5º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Se 5 lápis custam R$ 12,00, quanto custariam 8 lápis, no mesmo valor unitário?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) R$ 19,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) R$ 20,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) R$ 21,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) R$ 22,00 </button>
            </div>


            <div class="flex justify-end mt-20 mr-6">
                <button
                  class="relative px-6 py-4 text-xl text-center text-white transition-all rounded-lg w-36 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110"
                  (click)="exibirModalCreateCoordination(true)">
                  Confirmar
                </button>
            </div>
        </div>






        <div class="relative p-8 mt-16 transition-all bg-yellow-300 shadow-2xl rounded-2xl">
            <h2 class="mb-6 text-5xl font-extrabold text-white">Ciencias</h2>

            <!-- Ícone + Nome da Escola -->
            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">1º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">Joana saiu de casa com R$ 120,00. Ela foi até uma papelaria e comprou: 3 cadernos por R$ 18,00 cada, 2 lápis por R$ 2,50 cada, e uma mochila que custou R$ 45,00. Quanto sobrou de dinheiro para Joana após as compras?
                    </h2>

                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) R$ 15,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) R$ 10,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) R$ 25,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) R$ 12,00 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">2º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Lucas comeu 2/5 de uma barra de chocolate. Em seguida, seu irmão comeu mais 1/5. Qual fração da barra ainda resta?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) 1/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) 2/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) 3/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) 4/5 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) 5/5 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">3º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Uma loja está oferecendo 20% de desconto em um tênis que custa R$ 150,00. Qual será o valor do tênis com o desconto aplicado?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) R$ 130,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) R$ 120,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) R$ 135,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) R$ 140,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) R$ 125,00 </button>
            </div>
            <div class="border-b border-white/30"></div>

            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">4º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Resolva a expressão: 4×(3+2)−6÷2
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) 14 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) 16</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) 18 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) 20 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) 12 </button>
            </div>
            <div class="border-b border-white/30"></div>


            <div class="flex items-center mt-20">
                <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                    <p class="text-3xl font-bold text-teal-500">5º</p>
                </div>
                <div class="ml-10">
                    <h2 class="text-3xl font-extrabold text-white">
                        Se 5 lápis custam R$ 12,00, quanto custariam 8 lápis, no mesmo valor unitário?
                    </h2>
                </div>

            </div>
            <div class="relative mt-10 mb-10 ">
                <button class="w-40 h-10 ml-32 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">A) R$ 18,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">B) R$ 19,00</button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">C) R$ 20,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">D) R$ 21,00 </button>
                <button class="w-40 h-10 mr-10 text-2xl bg-yellow-500 shadow-2xl hover:bg-yellow-800 rounded-2xl text-white/90">E) R$ 22,00 </button>
            </div>


            <div class="flex justify-end mt-20 mr-6">
                <button
                  class="relative px-6 py-4 text-xl text-center text-white transition-all rounded-lg w-36 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110"
                  (click)="exibirModalCreateCoordination(true)">
                  Confirmar
                </button>
            </div>
        </div>
    </div>

</div>


