<!-- Modal de Adicionar Coordenação -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60">
    <div class="relative w-full max-w-xl p-8 bg-white shadow-2xl rounded-2xl">
        <h2 class="mb-6 text-3xl font-bold text-gray-800">Adicionar Aluno</h2>
          
        <!-- Cargos -->
        <div class="mt-6">
            <div>
                <label class="block mb-1 font-medium text-gray-700 ">Nome</label>
                <input [(ngModel)]="nome" type="text" class="w-full p-3 bg-gray-200 rounded-lg focus:outline-none">
            </div>
            <!-- Ano -->
            <label class="block mb-2 font-medium text-gray-700">Ano</label>
            <div class="flex flex-wrap gap-2">
                <button (click)="alternarAno('sexto')"
                    [ngClass]="anoSelecionados === 'sexto' ? 'bg-sky-300 text-white' : 'bg-sky-100 text-sky-500'"
                    class="px-4 py-2 transition rounded-lg">
                    6º
                </button>
                <button (click)="alternarAno('setimo')"
                    [ngClass]="anoSelecionados === 'setimo' ? 'bg-emerald-300 text-white' : 'bg-emerald-100 text-emerald-500'"
                    class="px-4 py-2 transition rounded-lg">
                    7º
                </button>
                <button (click)="alternarAno('oitavo')"
                    [ngClass]="anoSelecionados === 'oitavo' ? 'bg-amber-300 text-white' : 'bg-amber-100 text-amber-500'"
                    class="px-4 py-2 transition rounded-lg">
                    8º
                </button>
                <button (click)="alternarAno('nono')"
                    [ngClass]="anoSelecionados === 'nono' ? 'bg-rose-400 text-white' : 'bg-rose-100 text-rose-600'"
                    class="px-4 py-2 transition rounded-lg">
                    9º
                </button>
            </div>

            <!-- Sala -->
            <label class="block mt-4 mb-2 font-medium text-gray-700">Sala</label>
            <div class="flex flex-wrap gap-2">
                <ng-container *ngFor="let sala of ['A', 'B', 'C', 'D']">
                    <button [disabled]="!anoSelecionados || !salasDisponiveisPorAno[anoSelecionados]?.includes(sala)" (click)="alternarSala(sala)"
                    [ngClass]="[
                        salaSelecionados === sala ? 'text-white' : '',
                        sala === 'A' ? (salaSelecionados === 'A' ? 'bg-sky-300' : 'bg-sky-100 text-sky-500') : '',
                        sala === 'B' ? (salaSelecionados === 'B' ? 'bg-emerald-300' : 'bg-emerald-100 text-emerald-500') : '',
                        sala === 'C' ? (salaSelecionados === 'C' ? 'bg-amber-300' : 'bg-amber-100 text-amber-500') : '',
                        sala === 'D' ? (salaSelecionados === 'D' ? 'bg-rose-400' : 'bg-rose-100 text-rose-600') : '',
                        (!anoSelecionados || !salasDisponiveisPorAno[anoSelecionados]?.includes(sala)) ? 'opacity-50 cursor-not-allowed' : ''
                    ]"
                    class="px-4 py-2 transition rounded-lg">
                    {{ sala }}
                    </button>
                </ng-container>
            </div>
        </div>

        <div class="grid gap-6">
            <!-- Botões -->
            <div class="flex justify-end mt-4 space-x-4">
                <button class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-700">Limpar</button>
                <button (click)="cadastrarAluno()" class="px-6 py-2 text-white bg-green-600 rounded hover:bg-green-800">Cadastrar</button>
            </div>
        </div>

        <!-- Botão de fechar (X) -->
        <button class="absolute text-gray-500 top-4 right-4 hover:text-red-500" (click)="fecharModalAdicionar()">
            <i class="text-xl fa-solid fa-times"></i>
        </button>
    </div>
</div>