<div class="flex min-h-screen bg-gradient-to-br from-teal-50 via-blue-100 to-purple-200">
  <!-- Menu Lateral -->
  <aside class="flex flex-col p-6 text-white shadow-lg w-80 bg-gradient-to-b from-cyan-800 to-blue-700">
      <h2 class="mb-6 text-3xl font-semibold text-center text-white">Gamify School</h2>
      <ul class="flex-1 mt-6 space-y-4">
          <li>
              <button  (click)="selecionarSecao('inicio')" class="flex items-center p-3 space-x-3 transition duration-300 ease-in-out rounded-lg hover:bg-cyan-700">
                  <i class="text-xl fa fa-home"></i>
                  <span class="text-2xl font-medium">Início</span>
              </button>
          </li>
          <li>
              <button  (click)="selecionarSecao('Batalhas')" class="flex items-center p-3 space-x-3 transition duration-300 ease-in-out rounded-lg hover:bg-cyan-700">
                  <i class="text-xl fa fa-gamepad"></i>
                  <span class="text-2xl font-medium">Batalhas</span>
              </button>
          </li>
          <li>
              <button  (click)="selecionarSecao('chat')" class="flex items-center p-3 space-x-3 transition duration-300 ease-in-out rounded-lg hover:bg-cyan-700">
                  <i class="text-xl fa fa-comments"></i>
                  <span class="text-2xl font-medium">Chat</span>
              </button>
          </li>
          <li>
              <button  (click)="selecionarSecao('Ranking')" class="flex items-center p-3 space-x-3 transition duration-300 ease-in-out rounded-lg hover:bg-cyan-700">
                  <i class="text-xl fa fa-trophy"></i>
                  <span class="text-2xl font-medium">Ranking</span>
              </button>
          </li>
          <li>
              <button  (click)="selecionarSecao('Amigos')" class="flex items-center p-3 space-x-3 transition duration-300 ease-in-out rounded-lg hover:bg-cyan-700">
                  <i class="text-xl fa fa-users"></i>
                  <span class="text-2xl font-medium">Amigos</span>
              </button>
          </li>
      </ul>
      <button class="flex items-center justify-center p-3 space-x-2 text-white transition duration-200 bg-red-600 rounded-lg hover:bg-red-700">
          <i class="fa fa-sign-out-alt"></i><span>Sair</span>
      </button>
  </aside>

  <!-- Conteúdo Principal -->
  <div class="flex flex-col flex-1">
      <!-- Menu Superior -->
      <header class="flex items-center justify-between px-6 py-4 shadow-xl bg-gradient-to-r from-cyan-800 to-blue-700">
          <!-- Perfil -->
          <div class="flex items-center gap-4">
              <img src="../../assets/pal/foxsparks.png" alt="Perfil" class="w-16 h-16 border-4 border-white rounded-full shadow-xl">
              <div>
                  <h1 class="text-lg font-semibold text-white">Israel Fernando Mendes Santana</h1>
                  <div class="flex items-center space-x-2 text-white">
                      <i class="mt-1 text-xl fa-solid fa-coins"></i>
                      <p class="mt-1 text-xl">1470</p>
                  </div>
              </div>
          </div>
    
          <!-- Ações -->
          <div class="flex items-center gap-4">
              <!-- Notificações -->
              <div class="relative">
                  <button class="p-2 text-white transition rounded-full bg-white/20 hover:bg-white/30">
                      <i class="text-2xl fa fa-bell"></i>
                  </button>
                  <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold px-1.5 py-0.5 rounded-full animate-bounce shadow-md">
                      3
                  </span>
              </div>
          
              <!-- Configurações -->
              <button class="p-2 text-white transition rounded-full bg-white/20 hover:bg-white/30">
                  <i class="fa-solid fa-gear"></i>
              </button>
          </div>
      </header>

      <!-- Área Principal -->
      <app-viewHomeStudent *ngIf="secaoAtual === 'inicio'"></app-viewHomeStudent>

      <app-viewBattle *ngIf="secaoAtual === 'Batalhas'"></app-viewBattle>
      

      
      <!-- Área de Conversa -->
      <div *ngIf="secaoAtual === 'chat'" class="flex h-screen">
          <!-- Sidebar -->
          <div class="flex flex-col border-r bg-gradient-to-r from-indigo-600 to-blue-500 w-80">
            <!-- Cabeçalho do menu -->
            <div class="flex items-center justify-between p-4 border-b border-gray-300">
              <div class="text-xl font-bold">Chat</div>
            </div>
        
            <!-- Lista de Conversas -->
            <div class="flex-1 overflow-y-auto">
              <div 
                *ngFor="let conversa of conversas" 
                (click)="abrirConversa(conversa)"
                class="flex items-center p-4 cursor-pointer hover:bg-gray-100"
                [ngClass]="{ 'bg-blue-100': conversa === conversaAtiva }"
              >
                <div class="w-12 h-12 mr-4 overflow-hidden bg-gray-300 rounded-full">
                  <img *ngIf="conversa.foto" [src]="conversa.foto" alt="Foto" class="object-cover w-full h-full" />
                </div>
                <div>
                  <div class="font-medium">{{ conversa.nome }}</div>
                  <div class="w-48 text-sm text-gray-500 truncate">{{ conversa.mensagens[conversa.mensagens.length - 1]?.texto }}</div>
                </div>
              </div>
            </div>
          </div>
        
          <!-- Área de Conversa -->
          <div *ngIf="secaoAtual === 'chat'" class="flex flex-col flex-1 bg-slate-300">
            
            <!-- Cabeçalho da Conversa -->
            <div class="flex items-center justify-between px-6 py-4 mb-4 shadow bg-gradient-to-r from-indigo-600 to-blue-500">
              <div class="flex items-center">
                <div class="w-12 h-12 mr-4 overflow-hidden bg-gray-300 rounded-full">
                  <img *ngIf="conversaAtiva?.foto" [src]="conversaAtiva.foto" alt="Foto de perfil" class="object-cover w-full h-full" />
                </div>
                <div>
                  <!-- <div class="text-lg font-semibold text-white">Lucas Magnago</div> -->
                  <div class="text-lg font-semibold">{{ conversaAtiva?.nome ?? 'Lucas Magnago'}}</div>
                  <div class="text-sm text-white">Online</div>
                </div>
              </div>
              <button class="px-6 py-4 text-xl text-center transition-all rounded-lg w-36 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110" >
                  Desafiar
              </button>
            </div>
        
            <!-- Mensagens -->
            <div class="flex-1 px-6 overflow-y-auto">
              <div *ngFor="let mensagem of conversaAtiva?.mensagens" class="mb-4">
                <div [ngClass]="{ 'text-right': mensagem.enviadaPor === 'eu', 'text-left': mensagem.enviadaPor !== 'eu' }">
                  <div [ngClass]="{
                      'bg-blue-500 mr-2 text-white mt-6': mensagem.enviadaPor === 'eu',
                      'bg-green-600 ml-2 text-black': mensagem.enviadaPor !== 'eu'
                    }"
                    class="inline-block max-w-xs p-3 rounded-lg">
                    {{ mensagem.texto }}
                  </div>
                </div>
              </div>
            </div>
        
            <!-- Caixa de Mensagem -->
            <div class="flex items-center px-6 py-4 bg-white border-t border-gray-300">
              <input type="text" [(ngModel)]="novaMensagem" placeholder="Digite uma mensagem..."
                class="w-full p-3 border-2 border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
              <button (click)="enviarMensagem()" class="p-3 text-white bg-blue-500 rounded-r-lg hover:bg-blue-600">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
  </div>
</div>
