<div class="flex items-center justify-center min-h-screen bg-gradient-to-br from-blue-200 to-blue-500 dark:from-gray-800 dark:to-gray-900">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
        <h2 class="text-2xl font-semibold text-center text-gray-700 dark:text-gray-200">Cadastro</h2>
        <form (submit)="cadastrar()" class="mt-4">
            <div class="mb-4">
                <label for="nome" class="block text-sm text-gray-600 dark:text-gray-300">Nome do Administrador</label>
                <div class="flex items-center px-3 bg-gray-100 border rounded-lg dark:bg-gray-700">
                    <i class="text-gray-500 fas fa-user dark:text-gray-300"></i>
                    <input type="text" id="nome" [(ngModel)]="nome" name="nome" class="w-full px-2 py-2 bg-transparent focus:outline-none" (input)="validateName()" required>
                </div>
            </div>
            <div class="mb-4">
                <label for="senha" class="block text-sm text-gray-600 dark:text-gray-300">Senha</label>
                <div class="flex items-center px-3 bg-gray-100 border rounded-lg dark:bg-gray-700">
                    <i class="text-gray-500 fas fa-lock dark:text-gray-300"></i>
                    <input type="password" id="senha" [(ngModel)]="senha" name="senha" class="w-full px-2 py-2 bg-transparent focus:outline-none" (input)="validatePassword()" required>
                </div>
                <p *ngIf="mensagemSenha" class="mt-1 text-xs text-red-500">{{ mensagemSenha }}</p>
            </div>
            <div class="mb-4">
                <label for="opcoes" class="block text-sm text-gray-600 dark:text-gray-300">Prefeitura</label>
                <select id="opcoes" [(ngModel)]="opcaoSelecionada" name="opcaoSelecionada" class="w-full px-2 py-2 bg-gray-100 border rounded-lg dark:bg-gray-700 focus:outline-none" required>
                    <option *ngFor="let opcao of opcoes" [value]="opcao">{{ opcao }}</option>
                </select>
            </div>
            <button type="submit" class="w-full py-2 mt-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700" (click)="navigateTo()">Cadastrar</button>
        </form>
    </div>
</div>
