<div class="mb-40 ml-20 mr-20">

    <div id="school" class="relative p-8 transition-all shadow-2xl mt-14 bg-gradient-to-r from-cyan-600 to-teal-600 rounded-2xl">
        <h2 class="mb-6 text-4xl font-extrabold text-white">Escola</h2>

        <!-- Ícone + Nome da Escola -->
        <div class="flex items-center mt-10">
            <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-20 min-h-20">
                <i class="text-3xl text-teal-500 fa-solid fa-building-columns"></i>
            </div>
            <div class="ml-10">
                <h2 class="text-5xl font-extrabold text-white">EEEFM Alfredo Chaves</h2>
                <p class="mt-2 text-2xl text-white/80">3º Lugar • 12.345 pontos</p>
            </div>
        </div>

        <!-- Endereço e Telefone -->
        <div class="flex pb-10 mt-10 border-b border-white/30">
            <div class="w-1/2 pr-6">
                <h3 class="text-3xl font-bold text-white">Endereço</h3>
                <p class="text-xl text-gray-200">Rua Só quero terminar o TCC</p>
            </div>
            <div class="w-1/2 pl-6 border-l border-white/50">
                <h3 class="text-3xl font-bold text-white">Telefone</h3>
                <p class="text-xl text-gray-200">(27) 66666-6666</p>
            </div>
        </div>

        <!-- Pontuação por turma -->
        <div class="mt-10">
            <h3 class="mb-6 text-3xl font-bold text-white">Pontuação por turma</h3>
            <div class="grid grid-cols-2 gap-6">
                <div *ngFor="let turma of pontuacaoTurmas" class="p-4 shadow-md bg-white/10 rounded-xl">
                    <p class="text-xl font-semibold text-white">{{ turma.nome }}</p>
                    <p class="text-2xl font-bold text-white">{{ turma.pontos.toLocaleString() }} pts</p>
                </div>
            </div>
        </div>
    </div>



    <!-- Grupo: Coordenação -->
    <div id="coordination" class="relative p-8 transition-all shadow-2xl mt-14 bg-gradient-to-r from-teal-700 via-teal-800 to-teal-900 rounded-2xl">
        <h2 class="mb-6 text-4xl font-extrabold text-white">Coordenação</h2>

        <button (click)="ExibirModalCreateCoordination(true)" class="absolute px-6 py-3 text-xl text-center text-white transition-all rounded-lg top-6 h-14 right-10 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
            <i class="text-2xl text-white fa-solid fa-plus"></i>
        </button>


        <app-createCoordination *ngIf="mostrarModalCC" (fechar)="ExibirModalCreateCoordination(false)"></app-createCoordination>


        <!-- Modal de Alterar Coordenacao -->
        <div *ngIf="mostrarModalAlterarCoordenacao" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60">
            <div class="relative w-full max-w-xl p-8 bg-white shadow-2xl rounded-2xl">
                <h2 class="mb-6 text-3xl font-bold text-gray-800">Alterar Dados da Coordenação</h2>

                <div class="mb-6">
                    <label class="block mb-1 font-medium text-gray-700 ">Nome</label>
                    <input [(ngModel)]="filtroCoordenador" type="text" class="w-full p-3 bg-gray-200 rounded-lg focus:outline-none">
                </div>
                <div class="mb-6">
                    <label class="block mb-1 font-medium text-gray-700 ">Cargo</label>
                    <input [(ngModel)]="filtroCoordenador" type="text" class="w-full p-3 bg-gray-200 rounded-lg focus:outline-none">
                </div>

                <div class="grid gap-6">
                    <!-- Botões -->
                    <div class="flex justify-end space-x-4">
                        <button (click)="limparFiltros()" class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-700">Redefinir</button>
                        <button (click)="mostrarModalAlterarCoordenacao = false" class="px-6 py-2 text-white bg-green-600 rounded hover:bg-green-800">Aplicar</button>
                    </div>
                </div>

                <!-- Botão de fechar (X) -->
                <button class="absolute text-gray-500 top-4 right-4 hover:text-red-500" (click)="ExibirModalAlterarCoordenacao(false)">
                    <i class="text-xl fa-solid fa-times"></i>
                </button>
            </div>
        </div>

        <!-- Grid para os 4 Cards -->
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
            <!-- Card 1 -->
            <div class="relative flex items-center p-8 space-x-6 text-white transition-all shadow-xl bg-gradient-to-r from-teal-600 via-teal-700 to-teal-800 rounded-xl">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-full shadow-lg">
                    <i class="text-3xl text-teal-500 fas fa-users-cog"></i>
                </div>
                <div class="flex flex-col space-y-3">
                    <p class="text-3xl font-semibold text-white">Israel Santana</p>
                    <p class="text-xl text-gray-200">Diretor</p>
                </div>
                <!-- Botão no meio do lado direito -->
                <button (click)="ExibirModalAlterarCoordenacao(true)"
                    class="absolute px-6 py-4 text-xl text-center text-white transition-all -translate-y-1/2 rounded-lg top-1/2 right-6 h-14 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
                    <i class="text-2xl text-white fa-solid fa-gears"></i>
                </button>
            </div>


            <!-- Card 2 -->
            <div class="relative flex items-center p-8 space-x-6 text-white transition-all shadow-xl bg-gradient-to-r from-teal-600 via-teal-700 to-teal-800 rounded-xl">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-full shadow-lg">
                    <i class="text-3xl text-teal-500 fas fa-users-cog"></i>
                </div>
                <div class="flex flex-col space-y-3">
                    <p class="text-3xl font-semibold text-white">Israel Santana</p>
                    <p class="text-xl text-gray-200">Coordenador</p>
                </div>
                <!-- Botão no meio do lado direito -->
                <button (click)="ExibirModalAlterarCoordenacao(true)"
                    class="absolute px-6 py-4 text-xl text-center text-white transition-all -translate-y-1/2 rounded-lg top-1/2 right-6 h-14 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
                    <i class="text-2xl text-white fa-solid fa-gears"></i>
                </button>
            </div>

            <!-- Card 3 -->
            <div class="relative flex items-center p-8 space-x-6 text-white transition-all shadow-xl bg-gradient-to-r from-teal-600 via-teal-700 to-teal-800 rounded-xl">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-full shadow-lg">
                    <i class="text-3xl text-teal-500 fas fa-users-cog"></i>
                </div>
                <div class="flex flex-col space-y-3">
                    <p class="text-3xl font-semibold text-white">Israel Santana</p>
                    <p class="text-xl text-gray-200">Coordenador</p>
                </div>
                <!-- Botão no meio do lado direito -->
                <button (click)="ExibirModalAlterarCoordenacao(true)"
                    class="absolute px-6 py-4 text-xl text-center text-white transition-all -translate-y-1/2 rounded-lg top-1/2 right-6 h-14 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
                    <i class="text-2xl text-white fa-solid fa-gears"></i>
                </button>
            </div>

            <!-- Card 4 -->
            <div class="relative flex items-center p-8 space-x-6 text-white transition-all shadow-xl bg-gradient-to-r from-teal-600 via-teal-700 to-teal-800 rounded-xl">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-full shadow-lg">
                    <i class="text-3xl text-teal-500 fas fa-users-cog"></i>
                </div>
                <div class="flex flex-col space-y-3">
                    <p class="text-3xl font-semibold text-white">Israel Santana</p>
                    <p class="text-xl text-gray-200">Pedagogo</p>
                </div>
                <!-- Botão no meio do lado direito -->
                <button (click)="ExibirModalAlterarCoordenacao(true)"
                    class="absolute px-6 py-4 text-xl text-center text-white transition-all -translate-y-1/2 rounded-lg top-1/2 right-6 h-14 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
                    <i class="text-2xl text-white fa-solid fa-gears"></i>
                </button>
            </div>
        </div>
    </div>




    <!-- Grupo: Professores -->
    <div id="teacher" class="relative p-8 transition-all shadow-2xl mt-14 bg-gradient-to-r from-purple-800 via-indigo-900 to-purple-950 rounded-2xl">
        <h2 class="mb-6 text-4xl font-extrabold text-white">Professores</h2>

        <button (click)="ExibirModalCreateTeachers(true)" class="absolute px-6 py-3 text-xl text-center text-white transition-all rounded-lg top-6 h-14 right-10 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
            <i class="text-2xl text-white fa-solid fa-plus"></i>
        </button>

        <app-createTeachers *ngIf="mostrarModalCT" (fechar)="ExibirModalCreateTeachers(false)"></app-createTeachers>


        <!-- Modal de alterar Professor -->
        <div *ngIf="mostrarModalAlterarProfessor" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60">
            <div class="relative w-full max-w-xl p-8 bg-white shadow-2xl rounded-2xl">
                <h2 class="mb-6 text-3xl font-bold text-gray-800">Alterar Dados do Professor</h2>

                <!-- Cargos -->
                <div class="mt-6">
                    <div class="mb-6">
                        <label class="block mb-1 font-medium text-gray-700 ">Nome</label>
                        <input [(ngModel)]="filtroCoordenador" type="text" class="w-full p-3 bg-gray-200 rounded-lg focus:outline-none">
                    </div>
                    <label class="block mb-2 font-medium text-gray-700">Matéria</label>
                    <div class="flex flex-wrap gap-2">
                        <button (click)="alternarMateria('portugues')"
                            [ngClass]="{ 'bg-gray-600 text-white': materiaSelecionados.includes('portugues'), 'bg-gray-100 text-gray-800': !materiaSelecionados.includes('portugues')}"
                            class="px-4 py-2 transition rounded-lg">
                            Português
                        </button>

                        <button (click)="alternarMateria('matematica')"
                            [ngClass]="{ 'bg-blue-600 text-white': materiaSelecionados.includes('matematica'), 'bg-blue-100 text-blue-800': !materiaSelecionados.includes('matematica')}"
                            class="px-4 py-2 transition rounded-lg">
                            Matemática
                        </button>

                        <button (click)="alternarMateria('ciencias')"
                            [ngClass]="{ 'bg-yellow-300 text-white': materiaSelecionados.includes('ciencias'), 'bg-yellow-100 text-yellow-500': !materiaSelecionados.includes('ciencias')}"
                            class="px-4 py-2 transition rounded-lg">
                            Ciências
                        </button>
                        <button (click)="alternarMateria('historia')"
                            [ngClass]="{ 'bg-yellow-700 text-white': materiaSelecionados.includes('historia'), 'bg-yellow-200 text-yellow-900': !materiaSelecionados.includes('historia')}"
                            class="px-4 py-2 transition rounded-lg">
                            História
                        </button>
                        <button (click)="alternarMateria('geografia')"
                            [ngClass]="{ 'bg-green-600 text-white': materiaSelecionados.includes('geografia'), 'bg-green-100 text-green-800': !materiaSelecionados.includes('geografia')}"
                            class="px-4 py-2 transition rounded-lg">
                            Geografia
                        </button>
                        <button (click)="alternarMateria('arte')"
                            [ngClass]="{ 'bg-pink-600 text-white': materiaSelecionados.includes('arte'), 'bg-pink-100 text-pink-800': !materiaSelecionados.includes('arte')}"
                            class="px-4 py-2 transition rounded-lg">
                            Arte
                        </button>
                        <button (click)="alternarMateria('educacaoFisica')"
                            [ngClass]="{ 'bg-orange-600 text-white': materiaSelecionados.includes('educacaoFisica'), 'bg-orange-100 text-orange-800': !materiaSelecionados.includes('educacaoFisica')}"
                            class="px-4 py-2 transition rounded-lg">
                            Educação Física
                        </button>
                        <button (click)="alternarMateria('ingles')"
                            [ngClass]="{ 'bg-purple-600 text-white': materiaSelecionados.includes('ingles'), 'bg-purple-100 text-purple-800': !materiaSelecionados.includes('ingles')}"
                            class="px-4 py-2 transition rounded-lg">
                            Ingles
                        </button>
                        <button (click)="alternarMateria('sociologia')"
                            [ngClass]="{ 'bg-purple-800 text-white': materiaSelecionados.includes('sociologia'), 'bg-purple-200 text-purple-900': !materiaSelecionados.includes('sociologia')}"
                            class="px-4 py-2 transition rounded-lg">
                            Sociologia
                        </button>
                        <button (click)="alternarMateria('filosofia')"
                            [ngClass]="{ 'bg-amber-300 text-white': materiaSelecionados.includes('filosofia'), 'bg-amber-100 text-amber-400': !materiaSelecionados.includes('filosofia')}"
                            class="px-4 py-2 transition rounded-lg">
                            Filosofia
                        </button>
                        <button (click)="alternarMateria('biologia')"
                            [ngClass]="{ 'bg-green-800 text-white': materiaSelecionados.includes('biologia'), 'bg-green-200 text-green-900': !materiaSelecionados.includes('biologia')}"
                            class="px-4 py-2 transition rounded-lg">
                            Biologia
                        </button>
                        <button (click)="alternarMateria('fisica')"
                            [ngClass]="{ 'bg-blue-800 text-white': materiaSelecionados.includes('fisica'), 'bg-blue-200 text-blue-900': !materiaSelecionados.includes('fisica')}"
                            class="px-4 py-2 transition rounded-lg">
                            Física
                        </button>
                    </div>


                    <!-- Cargos -->
                    <div class="mt-6">
                        <label class="block mb-2 font-medium text-gray-700">Ano</label>
                        <div class="flex flex-wrap gap-2">
                            <button (click)="alternarAno('sexto')"
                                [ngClass]="{ 'bg-sky-300 text-white': anoSelecionados.includes('sexto'), 'bg-sky-100 text-sky-500': !anoSelecionados.includes('sexto')}"
                                class="px-4 py-2 transition rounded-lg">
                                6º
                            </button>

                            <button (click)="alternarAno('setimo')"
                                [ngClass]="{ 'bg-emerald-300 text-white': anoSelecionados.includes('setimo'), 'bg-emerald-100 text-emerald-500': !anoSelecionados.includes('setimo')}"
                                class="px-4 py-2 transition rounded-lg">
                                7º
                            </button>

                            <button (click)="alternarAno('oitavo')"
                                [ngClass]="{ 'bg-amber-300 text-white': anoSelecionados.includes('oitavo'), 'bg-amber-100 text-amber-500': !anoSelecionados.includes('oitavo')}"
                                class="px-4 py-2 transition rounded-lg">
                                8º
                            </button>
                            <button (click)="alternarAno('nono')"
                                [ngClass]="{ 'bg-rose-400 text-white': anoSelecionados.includes('nono'), 'bg-rose-100 text-rose-600': !anoSelecionados.includes('nono')}"
                                class="px-4 py-2 transition rounded-lg">
                                9º
                            </button>
                        </div>
                    </div>
                </div>

                <div class="grid gap-6">
                    <!-- Botões -->
                    <div class="flex justify-end mt-4 space-x-4">
                        <button (click)="limparFiltros()" class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-700">Limpar</button>
                        <button (click)="mostrarModal = false" class="px-6 py-2 text-white bg-green-600 rounded hover:bg-green-800">Aplicar</button>
                    </div>
                </div>

                <!-- Botão de fechar (X) -->
                <button class="absolute text-gray-500 top-4 right-4 hover:text-red-500" (click)="ExibirModalAlterarProfessor(false)">
                    <i class="text-xl fa-solid fa-times"></i>
                </button>
            </div>
        </div>

        <!-- Barra de pesquisa -->
        <div class="flex justify-center mb-12">
            <input [(ngModel)]="filtroProf" type="text" placeholder="Pesquise por nome ou escola"
                class="w-full max-w-lg p-4 text-xl text-gray-900 transition-all transform bg-gray-100 rounded-lg shadow-lg focus:outline-none dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 hover:scale-105 focus:ring-4 focus:ring-teal-400">
        </div>

        <!-- Grid para os 4 Cards com scroll -->
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 max-h-[calc(4*min(12rem,4vw))] overflow-y-auto pr-4">
            <!-- Card 1 -->
            <div *ngFor="let professor of professoresFiltrados" class="relative flex items-center p-8 space-x-6 text-white transition-all shadow-xl bg-gradient-to-r from-purple-500 via-indigo-500 to-purple-700 rounded-xl">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-full shadow-lg">
                    <i class="text-3xl text-purple-600 fas fa-user-tie"></i>
                </div>
                <div class="flex flex-col space-y-3">
                    <p class="text-3xl font-semibold text-white">{{ professor.nome }}</p>
                    <p class="text-xl text-gray-200">{{professor.materia}}</p>
                </div>
                <!-- Botão no canto superior direito -->
                <button (click)="ExibirModalAlterarProfessor(true)"
                class="absolute px-6 py-4 text-xl text-center text-white transition-all -translate-y-1/2 rounded-lg right-6 top-1/2 h-14 w-18 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
                    <i class="text-2xl text-white fa-solid fa-gears"></i>
                </button>
            </div>
        </div>
    </div>


    <!-- Grupo: Alunos -->
    <div id="student" class="relative p-8 transition-all shadow-2xl mt-14 bg-gradient-to-r from-blue-700 to-blue-900 rounded-2xl">
        <h2 class="mb-6 text-4xl font-extrabold text-white">Alunos</h2>

        <button (click)="ExibirModalCreateStudent(true)" class="absolute px-6 py-3 text-xl text-center text-white transition-all rounded-lg top-6 h-14 right-10 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
            <i class="text-2xl text-white fa-solid fa-plus"></i>
        </button>

        <app-createStudent *ngIf="mostrarModalCS" (fechar)="ExibirModalCreateStudent(false)"></app-createStudent>


        <!-- Modal de alterar Estudante -->
        <div *ngIf="mostrarModalAlterarEstudante" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60">
            <div class="relative w-full max-w-xl p-8 bg-white shadow-2xl rounded-2xl">
                <h2 class="mb-6 text-3xl font-bold text-gray-800">Alterar Dados do Aluno</h2>

                <!-- Cargos -->
                <div class="mt-6">
                    <div class="mb-6">
                        <label class="block mb-1 font-medium text-gray-700 ">Nome</label>
                        <input [(ngModel)]="filtroCoordenador" type="text" class="w-full p-3 bg-gray-200 rounded-lg focus:outline-none">
                    </div>

                    <!-- Cargos -->
                    <div class="mt-6">
                        <label class="block mb-2 font-medium text-gray-700">Ano</label>
                        <div class="flex flex-wrap gap-2">
                            <button (click)="alternarAno('sexto')"
                                [ngClass]="{ 'bg-sky-300 text-white': anoSelecionados.includes('sexto'), 'bg-sky-100 text-sky-500': !anoSelecionados.includes('sexto')}"
                                class="px-4 py-2 transition rounded-lg">
                                6º
                            </button>

                            <button (click)="alternarAno('setimo')"
                                [ngClass]="{ 'bg-emerald-300 text-white': anoSelecionados.includes('setimo'), 'bg-emerald-100 text-emerald-500': !anoSelecionados.includes('setimo')}"
                                class="px-4 py-2 transition rounded-lg">
                                7º
                            </button>

                            <button (click)="alternarAno('oitavo')"
                                [ngClass]="{ 'bg-amber-300 text-white': anoSelecionados.includes('oitavo'), 'bg-amber-100 text-amber-500': !anoSelecionados.includes('oitavo')}"
                                class="px-4 py-2 transition rounded-lg">
                                8º
                            </button>
                            <button (click)="alternarAno('nono')"
                                [ngClass]="{ 'bg-rose-400 text-white': anoSelecionados.includes('nono'), 'bg-rose-100 text-rose-600': !anoSelecionados.includes('nono')}"
                                class="px-4 py-2 transition rounded-lg">
                                9º
                            </button>
                        </div>
                    </div>
                </div>

                <div class="grid gap-6">
                    <!-- Botões -->
                    <div class="flex justify-end mt-4 space-x-4">
                        <button (click)="limparFiltros()" class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-700">Limpar</button>
                        <button (click)="mostrarModal = false" class="px-6 py-2 text-white bg-green-600 rounded hover:bg-green-800">Aplicar</button>
                    </div>
                </div>

                <!-- Botão de fechar (X) -->
                <button class="absolute text-gray-500 top-4 right-4 hover:text-red-500" (click)="ExibirModalAlterarEstudante(false)">
                    <i class="text-xl fa-solid fa-times"></i>
                </button>
            </div>
        </div>

        <!-- Barra de pesquisa -->
        <div class="flex justify-center mb-12">
            <input [(ngModel)]="filtroProf" type="text" placeholder="Pesquise por nome ou escola"
                class="w-full max-w-lg p-4 text-xl text-gray-900 transition-all transform bg-gray-100 rounded-lg shadow-lg focus:outline-none dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 hover:scale-105 focus:ring-4 focus:ring-teal-400">
        </div>

        <!-- Grid para os 4 Cards com scroll -->
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 max-h-[calc(4*min(12rem,4vw))] overflow-y-auto pr-4">
            <!-- Card 1 -->
            <div *ngFor="let aluno of alunosFiltrados" class="relative flex items-center p-8 space-x-6 text-white transition-all shadow-xl bg-gradient-to-r from-blue-500 via-cyan-500 to-blue-700 rounded-xl">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-full shadow-lg">
                    <i class="text-3xl text-blue-600 fas fa-user-graduate"></i> <!-- Ícone de estudante -->
                </div>
                <div class="flex flex-col space-y-3">
                    <p class="text-3xl font-semibold text-white">{{ aluno.nome }}</p>
                    <p class="text-2xl text-white/80">{{ aluno.turma}}</p>
                </div>
                <!-- Botão no canto superior direito -->
                <button (click)="ExibirModalAlterarEstudante(true)"
                class="absolute px-6 py-4 text-xl text-center text-white transition-all -translate-y-1/2 rounded-lg right-6 top-1/2 h-14 w-18 bg-gradient-to-r from-amber-500 to-orange-600 hover:scale-105 hover:brightness-110">
                    <i class="text-2xl text-white fa-solid fa-gears"></i>
                </button>
            </div>
        </div>
    </div>



</div>
