
  .listHomeManager{
    max-height: 600px;
  }


  /* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e293b; /* Cor do fundo da barra de rolagem */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #0ea5e9; /* Cor do thumb (a parte que você arrasta) */
    border-radius: 5px;
    border: 2px solid #1e293b;
}

::-webkit-scrollbar-thumb:hover {
    background: #0284c7; /* Cor quando hover */
}



  