@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.will-change-transform {
    will-change: transform;
}

/* Locomotive Scroll styles */
[data-scroll-container] {
    overflow: hidden;
}





body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.light {
    background-color: white;
    color: black;
  }
  
  body.dark {
    background-color: black;
    color: white;
  }
  

  header {
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.light header {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
  }
  
  body.dark header {
    background-color: black;
    color: white;
  }
  
  header.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  





