@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.will-change-transform {
    will-change: transform;
}

[data-scroll-container] {
    overflow: hidden;
}




body {
    transition: background-color 0.3s, color 0.3s;
  }

  body.light {
    background-color: rgb(218, 221, 238);
    color: black;
  }

  body.dark {
    background-color: rgb(23, 37, 84);
  }


  header {
    transition: background-color 0.3s, color 0.3s;
  }

  body.light header {
    background-color: rgb(0, 32, 79);
    color: white;
  }

  body.dark header {
    background-color: black;
    color: white;
  }

  header.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }






