<div class="mb-40 ml-20 mr-20">

    <div id="Progresso" class="relative p-8 mt-16 transition-all shadow-2xl bg-gradient-to-r from-cyan-600 to-teal-600 rounded-2xl">
        <h2 class="mb-6 text-5xl font-extrabold text-white">Seu Progresso</h2>

        <!-- Ícone + Nome da Escola -->
        <div class="flex items-center mt-10">
            <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-20 min-h-20">
                <i class="text-3xl text-teal-500 fas fa-user-graduate"></i>
            </div>
            <div class="ml-10">
                <h2 class="text-4xl font-extrabold text-white">Israel Santana</h2>
                <p class="mt-2 text-2xl text-white/80">Nível 4  •  10.500/12.000 XP</p>
            </div>
            <div class="ml-96">
                <h2 class="text-4xl font-extrabold text-white">Turma</h2>
                <p class="mt-2 text-2xl text-white/80">7º A</p>
            </div>
        </div>
    </div>





    <div id="school" class="relative p-8 transition-all shadow-2xl mt-14 bg-gradient-to-r from-purple-800 to-indigo-600 rounded-2xl">
        <h2 class="mb-6 text-5xl font-extrabold text-white">Desafios</h2>

        <!-- Ícone + Nome da Escola -->
        <div class="flex items-center mt-20">
            <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                <p class="text-2xl text-teal-500"> 1/2</p>
            </div>
            <div class="ml-6">
                <h2 class="text-3xl font-extrabold text-white">Inicie Batalhas</h2>
                <p class="mt-2 text-2xl text-white/80">procure batalhar ou desafie algum amigo</p>
            </div>
        </div>

        <!-- Endereço e Telefone -->
        <div class="flex pb-10 border-b border-white/30"></div>

        <div class="flex items-center mt-8">
            <div class="flex items-center justify-center bg-white rounded-full shadow-lg min-w-14 min-h-14">
                <p class="text-2xl text-teal-500"> 2/9</p>
            </div>
            <div class="ml-6">
                <h2 class="text-3xl font-extrabold text-white">Fazendo Atividades</h2>
                <p class="mt-2 text-2xl text-white/80">complete as atividades de cada uma das materias</p>
            </div>
        </div>
    </div>
</div>